<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高级检索</title>
</head>
<body>
    <form action="../deepsearch/" method="get">
        项目名称：<input type="text" name="projName"><br>
        招标人:<input type="text" name="bidCompanyName"><br>
        代理名称：<input type="text" name="bidAgent"><br>
        中标候选人：<input type="text" name="bidCandName"><br>
        中标公司：<input type="text" name="winnerName"><br>
        <!--项目编号：<input type="text" name="projNo">-->
        <input type="submit" value="搜索">
    </form>
</body>
</html>